<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Ganadería 4.0</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if css_file %}
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/' + css_file) }}">
        {% endif %}
    </head>
    <body>
        <div id="root"></div>

        <script type="module" crossorigin src="{{ url_for('static', filename='dist/' + js_file) }}"></script>
    </body>
</html>
