{% include "base/layout.html" %}
{% include "base/navbar.html" %}
{% block onecontent %}

    <div class="container_config">
        <div class="content-section" style="display: flex; align-items: center; justify-content: center;">
            <div class="table-wrapper down_shadow">
                <div class="row">
                    <div class="col-sm-12"><h2>Gestión de <b>Recursos</b></h2></div>
                </div>
                <div>
                    <button onclick="window.location.href='{{ url_for('home.default') }}';" type="button" class="del_upd_add_button btn btn-sm" style="width: 100%; border-radius: 10px !important; height: fit-content;">
                        Ver Mapa <i class="fa-solid fa-solid fa-map-marked-alt" style="font-size:25px"></i>
                    </button>
                    <button onclick="window.location.href='{{ url_for('config.campo') }}';" type="button" class="del_upd_add_button btn btn-sm" style="width: 100%; border-radius: 10px !important; height: fit-content;">
                        Configurar Campos <i class="fa-solid fa-map-pin" style="font-size:25px"></i>
                    </button>
                    <button onclick="window.location.href='{{ url_for('config.parcela') }}';" type="button" class="del_upd_add_button btn btn-sm" style="width: 100%; border-radius: 10px !important; height: fit-content;">
                        Configurar Parcelas <i class="fa-solid fa-map-signs" style="font-size:25px"></i>
                    </button>
                    <button onclick="window.location.href='{{ url_for('config.animal') }}';" type="button" class="del_upd_add_button btn btn-sm" style="width: 100%; border-radius: 10px !important; height: fit-content;">
                        Cargar Animales <i class="fa-solid fa-cow" style="font-size:25px"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock onecontent %}