.form-check-input {
    transform: scale(1);
    margin-left: 15px;

    border: 1px solid #768390 !important;
}

.page-item.previous .page-link,
.page-item .page-link,
.page-item.next .page-link {

    border: 1px solid #768390;
    align-items: center !important;
    margin: 0;
}
.page-item.active .page-link {

    border: 1px solid #768390;
    z-index: 0;
}

.page-link {
    color: #FAFAFA !important;
}

.dataTables_length select { 
    border: 1px solid #11111100;
    color: #FAFAFA;
    margin-top: 2px;
}

.dataTables_filter input {
    border-radius: 5px;
    text-indent: 10px;
    text-align: center;
    margin-top: 2px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: center !important;
    margin-right: 0%;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center !important;
    vertical-align:middle !important;
    background: #131212ce !important;
}

.table-style{
    background-color: #292b2e8c;
    color:#FAFAFA !important;
    text-align: center;
    border: 1px solid #768390;
    vertical-align:middle !important;
    overflow: hidden !important; 
    position: relative !important;
    width: 100% !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #11111100;
    color:#FAFAFA;
}

/* ------------------------------------- END ------------------------------------- */